.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dInput {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items vertically */
  gap: 10px; /* Add spacing between elements */
}

.dInput h3 {
  margin: 0; /* Remove default margin for h3 */
}

.dInput input {
  padding: 5px;
  font-size: 16px;
}

.dtraining {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items vertically */
  gap: 10px; /* Add spacing between elements */
}

.dtraining h1 {
  margin: 0; /* Remove default margin for h3 */
}

.duser {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items vertically */
  gap: 10px; /* Add spacing between elements */
}

.duser h1 {
  margin: 0; /* Remove default margin for h3 */
}

.dimage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dimage h3 {
  margin: 0;
}

.dimage input {
  padding: 5px;
  font-size: 16px;
}

.dlink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dlink h1 {
  margin: 0;
}